.player-controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px var(--c-light);
}

.player-controls__button {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--c-primary-light);
    margin: 0 .8rem;
    padding: .2rem;
    height: 100%;
}

.player-controls__button svg {
    min-width: 1rem;
    height: 100%;
}