.player-controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-controls__button {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--c-primary-light);
    margin: 0 .8rem;
    padding: .2rem;
    height: 100%;
}

.player-controls__button svg {
    min-width: 1rem;
    height: 100%;
}

.player-controls__button:disabled {
    cursor: default;
}

.player-controls__spinner {
    animation: player-controls-spin 0.8s linear infinite;
}

@keyframes player-controls-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}